<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"> </script>
</head>

<body>
    {% block content %}
    <h2>{{user_id}}</h2>

    <p>The average sentiment hacker news sentiment for {{user_id}} is {{ user_average_sentiment }}.</p>
    <canvas id="pie-chart" width="800" height="450"></canvas>


    {% block javascript %}
    <script>
	Chart.defaults.global.animation = true;
	labels = JSON.parse({{ keys | tojson}})
	data = JSON.parse({{ values |tojson }})
        new Chart(document.getElementById("pie-chart"), {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "% of mentions in this sentiment range",
                        backgroundColor: ["rgba(253, 0, 6, 0.5)", "rgba(255, 250, 0, 0.5)",
                        "rgba(10, 207, 0, 0.5)"],
                        borderColor: ["rgba(253, 0, 6)","rgba(255, 250, 0)",
                        "rgba(10, 207, 0)"],
                        
                        borderWidth:2,
                        data: data
                    }
                ]

            },
            options: {
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Number of Comments with each Sentiment Type'
                },
		animation: {
			      animateRotate: true,
			      animateScale: false
			    }
		
            }
        });
        

    </script>

    {% endblock %}
	<script>
	console.log(JSON.parse({{ keys | tojson}}))
	console.log(JSON.parse({{ values |tojson }}))

	</script>	
    {% endblock %}

</body>
