<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"> </script>
</head>

<body>
    {% block content %}
    <h2>{{user_id}}</h2>

    <p>The average sentiment hacker news sentiment for {{user_id}} is {{ user_average_sentiment }}%.</p>
    <canvas id="bar-chart" width="3" height="1"></canvas>


    {% block javascript %}
    <script>
	hist = JSON.parse({{ data|tojson }})
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: ["-1.0 to -0.8", "-0.8 to -0.6", "-0.6 to -0.4", "-0.4 to -0.2", "-0.2 to 0.0","0.0 to 0.2", "0.2 to 0.4", "0.4 to 0.6", "0.6 to 0.8", "0.8 to 1.0"],
                datasets: [
                    {
                        label: "% of mentions in this sentiment range",
                        backgroundColor: ["rgba(151, 0, 11, 0.5)","rgba(192, 0, 14, 0.5)","rgba(248, 0, 18, 0.5)",
                        "rgba(249, 56, 70, 0.5)",
                        "rgba(250, 97, 109, 0.5)","rgba(105, 222, 86, 0.5)","rgba(70, 214, 48, 0.5)",
                        "rgba(29, 211, 0, 0.5)","rgba(22, 163, 0, 0.5)","rgba(17, 128, 0, 0.5)" ],
                        borderColor: ["rgba(151, 0, 11)","rgba(192, 0, 14)","rgba(248, 0, 18)",
                        "rgba(249, 56, 70)","rgba(250, 97, 109)","rgba(105, 222, 86)",
                        "rgba(70, 214, 48)","rgba(29, 211, 0)","rgba(22, 163, 0)",
                        "rgba(17, 128, 0)" ],
                        borderWidth:2,
                        data: hist
                    }
                ]

            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Hacker news sentiment'
                }
            }
        });
        

    </script>

    {% endblock %}
	<script>

	</script>	
    {% endblock %}

</body>
